@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');


body{
    min-width: 375px;
    max-width: 3000px;
    margin: 0px auto;
}


picture img{
    max-width: 100%;
    max-height: 100%;
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
CABEÇALHO
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

header{
    width: auto;
    min-width: 375px;
    padding: 5px;
    background-color: black;
}


.area-de-navegacao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.logo-clicavel{
    width: 100px;   
}

.logo{
    font-size: 20px;
    color: red;
}


select{
    font-size: 15px;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: white;
    border: 0;
    text-align: center;
    border-radius: 10px;
    background-color: black;
    cursor: pointer;
    margin: 0 10px 0 10px;
}


select:hover{
    transform: scale(1.10);
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
BOTAO DE TEMPORADAS
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.temporadas-area-limite{
    position: absolute;
    top: 200px;
    width: 300px;
    height: 200px;

}

.temporadas-area{
    position: relative;
    top:0 ;
    left: 50px;
}

.temporada-botao{
    text-align: center;
    padding: 15px;
    color: black;
    background-color: rgba(200, 200, 200, 0.8);
}

select .temporada-botao:hover{
    cursor: pointer;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
SINOPSE
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.serie-informacoes{
    background-color: transparent;
    position: absolute;
    top: 270px;
    color: black;
    padding: 0px 50px 0px 50px;
}

.logo-serie img{
    display: block;
    margin-bottom: 20px;
}

.sinopse-texto{
    padding: 5px;
    background-color: rgba(200, 200, 200, 0.4);
    border-radius: 15px;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    max-height: 100px;
    max-width: 975px;
    color: black;
    font-weight: 400;
    padding: 15px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
BOTAO PLAY 
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.botao-play{
    position: absolute;
    width: 200px;
    height: 50px;
    bottom: 50px;
    left: 50px;
}

.botao-play a{
    text-align: center;
    width: 150px;
    color: black;
    position: absolute;
    top: 0;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(200, 200, 200, 0.8);
}

.botao-play a:hover{
    transform: scale(1.10);
    cursor: pointer;
}

