@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');


body{
    min-width: 375px;
    max-width: 3000px;
    margin: 0px auto;
    background-color: black;
}


picture img{
    max-width: 100%;
    max-height: 100%;
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
CABEÇALHO
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

header{
    min-width: 375px;
    max-width: auto;
    min-height: 100%;
    height: auto;
}

.area-de-navegacao{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    min-width: 375px;
    max-width: auto;
    padding: 10px;

}


.logo{
    font-size: 18px;
    color: red;
}

.seletor{
    position: relative;
    min-width: 100px;
    color: aliceblue;
}

.seletor h3{
    text-align: start;
}

.seletor:nth-child(4),
.logo{
    margin-right: 30px;
}

.seletores-area{
    display: flex;
    flex-direction: row;
}

.seletor-title{
    background-color: black;
    height: 31px;
}

.home{
    position: absolute;
    overflow: hidden;
    height: 22px;
    width: 100px;
}
.home:hover{
    overflow: visible;
    height: auto;
    background-color: gray;
    cursor: pointer;
}

li:hover{
    background-color: darkslateblue;
}

.store{
    position: absolute;
    overflow: hidden;
    height: 22px;
    width: 100px;
}
.store:hover{
    cursor: pointer;
    overflow: visible;
    height: auto;
    background-color: gray;
}

.genres{
    position: absolute;
    overflow: hidden;
    height: 22px;
    width: 100px;
}

.genres:hover{
    cursor: pointer;
    overflow: visible;
    width: 150px;
    height: auto;
    background-color: gray;
}

.my-stuff{
    position: absolute;
    overflow: hidden;
    height: 22px;
    width: 100px;
}
.my-stuff:hover{
    cursor: pointer;
    overflow: visible;
    height: auto;
    background-color: gray;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
BOTAO DE TEMPORADAS
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.temporadas-area-limite{
    position: absolute;
    top: 200px;
    width: 300px;
    height: 200px;

}

.temporadas-area{
    position: relative;
    top:0 ;
    left: 50px;
}

.temporada-botao{
    text-align: center;
    padding: 15px;
    color: black;
    background-color: rgba(200, 200, 200, 0.8);
}

select .temporada-botao:hover{
    cursor: pointer;
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
SINOPSE
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.serie-informacoes{
    background-color: transparent;
    position: absolute;
    top: 270px;
    color: black;
    padding: 0px 50px 0px 50px;
}

.logo-serie img{
    display: block;
    margin-bottom: 20px;
}

.sinopse-texto{
    padding: 5px;
    background-color: rgba(200, 200, 200, 0.4);
    border-radius: 15px;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    max-height: 100px;
    max-width: 975px;
    color: black;
    font-weight: 400;
    padding: 15px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
BOTAO PLAY 
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.botao-play{
    position: absolute;
    width: 200px;
    height: 50px;
    bottom: 50px;
    left: 50px;
}

.botao-play a{
    text-align: center;
    width: 150px;
    color: black;
    position: absolute;
    top: 0;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(200, 200, 200, 0.8);
}

.botao-play a:hover{
    font-size: large;
    transform: scale(1.10);
    cursor: pointer;
    color: red;
    background-color: rgba(0, 0, 0, 0.8);
}




/* VIDEO HUB */



video{
    width: 300px;
    height: 200px;
    margin: 15px;
    border: 2px solid red;
    border-radius: 10px;
    padding: 10px;
}

video:hover{
    transform: scale(1.10);
    cursor: pointer;
    background-color: gray;
}

.hub{
    color: red;
    padding: 0px 50px 50px 50px;
    text-align: center;
}

.hub h2{
    border: 1px solid red;
    margin: 35px;
    padding: 10px;
    border-radius: 25px;
}

.hub-videos{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}
